<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La page est introuvable</title>
</head>
<body>
    <p>Code erreur : {{ status_code }}</p>
    <p>Message d'erreur : {{ status_text }}</p>
</body>
</html>