<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Une erreur est apparue</title>
</head>
<body>
<p>Voici le code erreur {{  status_code }} et son message {{ status_text }}</p>
</body>
</html>