{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{  parent() }} - Ajout d'une annonce{% endblock %}

{% block body %}
    <p> Formulaire d'ajout d'une annonce </p>

    {{ include("OCPlatformBundle:Advert:form.html.twig") }}
{% endblock %}