{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}Suppression - {{ parent() }}{% endblock %}

{% block ocplatform_body %}

    <div class="alert alert-info">
        Suppression des categories {{ advert.id }}
    </div>
{% endblock %}