{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}Modification d'une annonce - {{ parent() }}{% endblock %}

{% block ocplatform_body %}

    <h2>Modification de l'annonce pour le poste {{ advert.title }}</h2>
    {{ include("OCPlatformBundle:Advert:form.html.twig") }}

    <p>
        <a href="{{ path('oc_platform_view', {'idAdvert': advert.idAdvert}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
    </p>
{% endblock %}