{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block ocplatform_body %}
    <h2>Liste des annonces</h2>

    <ul>
        {% for annonce in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'idAdvert': annonce.idAdvert}) }}">{{ annonce.title }}</a>
            </li>
        {% else %}
            <li>Pas encore d'annonce</li>
        {% endfor %}
    </ul>

{% endblock %}