<ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('oc_platform_view', {'idAdvert': advert.idAdvert}) }}">{{ advert.title }}</a>
        </li>
    {% endfor %}
</ul>